<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS - Drag and Drop sorting Vue.js</title>

    <link rel="stylesheet" href="assets/style.css">
    <link rel="shortcut icon" href="assets/favicon.ico" />

    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

    <div id="app">
        <ol>
            <li v-for="object in objects">
                <draggable :object="object"></draggable>
                <ol>
                    <li v-for="sub in object.sub_items">
                        <draggable :object="sub"></draggable>
                        <ol>
                            <li v-for="subsub in sub.sub_items">
                                <draggable :object="subsub"></draggable>
                                <ol>
                                    <li v-for="subsubsub in subsub.sub_items">
                                        <draggable :object="subsubsub"></draggable>
                                        <ol>
                                            <li v-for="subsubsubsub in subsubsub.sub_items">
                                                <draggable :object="subsubsubsub"></draggable>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>

        <div class="actions">
            <button v-on:click="reset" class="reset">Back to origin</button>
            <button v-on:click="showJson()" class="reset">Show json export</button>
        </div>

        <div class="json-export" v-show="jsonVisible">
            <pre>
                {{objects}}
            </pre>
        </div>
    </div>

<script src="js/data-service.js"></script>
<script src="js/custom-functions.js"></script>
<script src="js/vue.js"></script>
</body>
</html>

